#NavBar{
	position: fixed;
	width: 100%;
	min-height: 50px;
	background-color: #DDE;
	text-align:center;
    font-size: 24px;
}
.contentButton{
	padding-right: 50px;
	margin: 0 auto;
    line-height: 50px;
}
body{
	background-color:#ffffff;
	font-size: 18px;
	color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
	font-family: Arial, helvetica, sans-serif;
	background-color: #EFEBE9;
}

#logoTitle{
	position: fixed;
	left: 95%;
	top:0%;
	float: right;
}

.portfolioPiece img {
	cursor: pointer;
}

p{
	width: 80%;
	text-align: left;
	margin: 0 auto;
}

footer{
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
	min-height: 800px;
}

footer p{
    text-align: center;
}

.sectionHead{
	font-weight: bold;
	color: #424242;
	font-size: 36px;
	text-align: center;
	background-color: #009688;
    border-style: solid;
    border-width: 1px;
    width: 100%;
}

p img{
	text-align: center;
    margin: 0 auto;
}

#PortfolioContent{
    display: none;
}

#ContactContent{
    display: none;
}

#ResumeContent{
    display: none;
}

.portfolioPiece{
    display: none;
}

#About{
    text-decoration: underline;
}

.hiddenContent{
    margin-top: 30px;
}

.leftResumeHeader{
    font-weight: bold;

}

.rightResumeHeader{
    font-weight: bold;
}

ul{
    padding-left: 12%;
}